<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hiskaart">

    <!-- Разрешение на использование NFC -->
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.BIND_NFC_SERVICE" />

    <!-- Указание на поддержку HCE -->
    <uses-feature android:name="android.hardware.nfc.hce" android:required="true" />
    <uses-feature android:name="android.hardware.nfc" android:required="true" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.NFCCardApp">

        <!-- Регистрация HCE-сервиса -->
        <service
            android:name=".MyHostApduService"
            android:permission="android.permission.BIND_NFC_SERVICE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.nfc.cardemulation.action.HOST_APDU_SERVICE" />
            </intent-filter>
            <meta-data
                android:name="android.nfc.cardemulation.host_apdu_service"
                android:resource="@xml/apduservice" />
        </service>

        <!-- Основная активность -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
</manifest>